section#top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    p {
        align-self: center;
        max-width: 350px;
        padding: 30px;
    }
    h2 {
        align-self: center;
    }
}